{% extends "./base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}index{% endblock%}
{% block style%}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/map.css' %}">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block content %}

<h1>Hello, Welcome to The Main Plot page</h1>
<div>
    {% for plot in plots %}
    <p>{{plot.owner_name}}</p>
    <p>{{plot.address}}</p>
    <p>{{plot.hometown}}</p>
    <p>{{plot.zone}}</p>
    <p>{{plot.phone_number}}</p>
    {%endfor%}
</div>

    <div id="map"></div>
    <script src="{% static 'assets/js/map.js' %}"></script>
{% endblock %}