{% extends "users/layout.html" %}
{% load static %}
{% load bootstrap5 %}

<!-- Created by Abdul-Moomin Tahiru, Data Link Institute-->

 
{% block body %}

        <div class="container">
                {% if message %}
                    <div style="color: Red;">{{ message }}</div>
                {% endif %}
            <input type="checkbox" id="flip">
            <div class="cover">            
                <div class="front">
                    <img src="{% static 'img/frontImg.jpg' %}" alt="">
                    <div class="text">
                        <span class="text-1">"Buy land today,<br> they're not making it anymore"<br>By: Mark Twain</span>
                        <span class="text-2">Contact Appolonia Stool NOW!!</span>
                    </div>
                </div>
                <div class="back">
                <img class="backImg" src="{% static 'img/frontImg.jpg' %}" alt="">            
                    <div class="text">
                        <span class="text-1">Complete miles of journey <br> with one step</span>
                        <span class="text-2">Let's get started</span>
                    </div>
                </div>
            </div>
            <div class="forms">            
                <div class="form-content">
                <div class="login-form">
                    <div class="title">LMS Login</div>
                <form action="{% url 'users:login' %}" method="post">
                        {% csrf_token %}                        
                    <div class="input-boxes">
                    <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="text"><a href="#">Forgot password?</a></div>
                    <div class="button input-box">
                        <input type="submit" value="Login">
                    </div>
                    <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
                    </div>
                </form>
                <div class="text">Are you a Visitor? <a href="{% url 'users:property-grid' %}">Click Here to visit Home Page</a></div>
            </div>
                <div class="signup-form">
                <div class="title">LMS Registration</div>
                <form action="{% url 'users:login' %}" method="post">                    
                     <div class="input-boxes">
                        {% csrf_token %}                  
                     <div class="input-boxes">                        
                        {% for field in form %}
                            <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            </p>
                        {% endfor %}
                    <div class="input-box">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" placeholder="Enter your full name" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="text" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="button input-box">
                        <input type="submit" value="Sumbit">
                    </div>
                    <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
                    </div> 
                </form>
                <div class="text">Are you a Visitor? <a href="{% url 'users:property-grid' %}">Click Here to visit Home Page</a></div>
            </div>
            </div>
            </div>            
        </div>             
{% endblock %}